﻿@model IEnumerable<ODDESTODDS.Core.ViewModel.GameModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeOdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawOdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayOdd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeOdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawOdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayOdd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
